.insta-outline{
  color: #833ab4; /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

/* BULMA */
.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.25em;
}

.select:not(.is-multiple)::after {
  border: 1px solid #3273dc;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4;
}

.select.is-rounded select {
  border-radius: 290486px;
  padding-left: 1em;
}

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
  outline: none;
}

.select select[disabled] {
  cursor: not-allowed;
}

.select select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.select select::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.select select:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.select select:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.select select:hover, .select select.is-hovered {
  border-color: #b5b5b5;
}

.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
  border-color: #3273dc;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.select select[disabled] {
  background-color: whitesmoke;
  border-color: whitesmoke;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #7a7a7a;
}

.select select[disabled]::-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.select select[disabled]::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.select select[disabled]:-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.select select[disabled]:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.select select::-ms-expand {
  display: none;
}

.select select[disabled]:hover {
  border-color: whitesmoke;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select select[multiple] {
  height: unset;
  padding: 0;
}

.select select[multiple] option {
  padding: 0.5em 1em;
}

.select:hover::after {
  border-color: #363636;
}

.select.is-white select {
  border-color: white;
}

.select.is-white select:focus, .select.is-white select.is-focused, .select.is-white select:active, .select.is-white select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.select.is-black select {
  border-color: #0a0a0a;
}

.select.is-black select:focus, .select.is-black select.is-focused, .select.is-black select:active, .select.is-black select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
          box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.select.is-light select {
  border-color: whitesmoke;
}

.select.is-light select:focus, .select.is-light select.is-focused, .select.is-light select:active, .select.is-light select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
          box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.select.is-dark select {
  border-color: #363636;
}

.select.is-dark select:focus, .select.is-dark select.is-focused, .select.is-dark select:active, .select.is-dark select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
          box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.select.is-primary select {
  border-color: #00d1b2;
}

.select.is-primary select:focus, .select.is-primary select.is-focused, .select.is-primary select:active, .select.is-primary select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
          box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.select.is-link select {
  border-color: #3273dc;
}

.select.is-link select:focus, .select.is-link select.is-focused, .select.is-link select:active, .select.is-link select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.select.is-info select {
  border-color: #209cee;
}

.select.is-info select:focus, .select.is-info select.is-focused, .select.is-info select:active, .select.is-info select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
          box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}

.select.is-success select {
  border-color: #23d160;
}

.select.is-success select:focus, .select.is-success select.is-focused, .select.is-success select:active, .select.is-success select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.25);
          box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.25);
}

.select.is-warning select {
  border-color: #ffdd57;
}

.select.is-warning select:focus, .select.is-warning select.is-focused, .select.is-warning select:active, .select.is-warning select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
          box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.select.is-danger select {
  border-color: #ff3860;
}

.select.is-danger select:focus, .select.is-danger select.is-focused, .select.is-danger select:active, .select.is-danger select.is-active {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
          box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
}

.select.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}

.select.is-medium {
  font-size: 1.25rem;
}

.select.is-large {
  font-size: 1.5rem;
}

.select.is-disabled::after {
  border-color: #7a7a7a;
}

.select.is-fullwidth {
  width: 100%;
}

.select.is-fullwidth select {
  width: 100%;
}

.select.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  margin-top: 0;
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  -webkit-transform: none;
          transform: none;
}

.select.is-loading.is-small:after {
  font-size: 0.75rem;
}

.select.is-loading.is-medium:after {
  font-size: 1.25rem;
}

.select.is-loading.is-large:after {
  font-size: 1.5rem;
}


/* Prevents slides from flashing */
#slides {
  display: none;
}

/* Allow header to scroll on small screen */
.mdl-layout__container.has-scrolling-header .mdl-layout--fixed-header .mdl-layout__content {
  overflow-y: visible;
  overflow-x: visible;
  overflow: visible;
}

/* Header Imagery */
.himage {
    background-image: url("../../images/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

    ​
.bg {
  /* background-color: grey; */
  background: rgb(34, 34, 34);
  background-image: url("../../images/4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backdrop {
  background: url("../../images/bg-n.png") repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

.bg-grad {
  background: #AAFFA9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #AAFFA9, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #AAFFA9, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Shadow effect on hover (stripped from MaterializeCSS) */
.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

  .hoverable:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(115, 196, 108, 0.35), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 2px 2px 0 rgba(115, 196, 108, 0.35) 0 4px 12px 0 rgba(0, 0, 0, 0.19);
  }

  /*********************
    Media Query Classes
  **********************/
  @media only screen and (max-width: 600px) {
    .hide-on-small-only, .hide-on-small-and-down {
      display: none !important;
    }
  }

  @media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
      display: none !important;
    }
  }

  @media only screen and (min-width: 601px) {
    .hide-on-med-and-up {
      display: none !important;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
      display: none !important;
    }
  }

  @media only screen and (min-width: 993px) {
    .hide-on-large-only {
      display: none !important;
    }
  }

  @media only screen and (min-width: 993px) {
    .show-on-large {
      display: block !important;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
      display: block !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .show-on-small {
      display: block !important;
    }
  }

  @media only screen and (min-width: 601px) {
    .show-on-medium-and-up {
      display: block !important;
    }
  }

  @media only screen and (max-width: 992px) {
    .show-on-medium-and-down {
      display: block !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .center-on-small-only {
      text-align: center;
    }
  }


/* Flow text (stripped from MaterializeCSS) */
.flow-text {
  font-weight: 300;
}

  @media only screen and (min-width: 360px) {
    .flow-text {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 390px) {
    .flow-text {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 420px) {
    .flow-text {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 450px) {
    .flow-text {
      font-size: 1.272rem;
    }
  }

  @media only screen and (min-width: 480px) {
    .flow-text {
      font-size: 1.296rem;
    }
  }

  @media only screen and (min-width: 510px) {
    .flow-text {
      font-size: 1.32rem;
    }
  }

  @media only screen and (min-width: 540px) {
    .flow-text {
      font-size: 1.344rem;
    }
  }

  @media only screen and (min-width: 570px) {
    .flow-text {
      font-size: 1.368rem;
    }
  }

  @media only screen and (min-width: 600px) {
    .flow-text {
      font-size: 1.392rem;
    }
  }

  @media only screen and (min-width: 630px) {
    .flow-text {
      font-size: 1.416rem;
    }
  }

  @media only screen and (min-width: 660px) {
    .flow-text {
      font-size: 1.44rem;
    }
  }

  @media only screen and (min-width: 690px) {
    .flow-text {
      font-size: 1.464rem;
    }
  }

  @media only screen and (min-width: 720px) {
    .flow-text {
      font-size: 1.488rem;
    }
  }

  @media only screen and (min-width: 750px) {
    .flow-text {
      font-size: 1.512rem;
    }
  }

  @media only screen and (min-width: 780px) {
    .flow-text {
      font-size: 1.536rem;
    }
  }

  @media only screen and (min-width: 810px) {
    .flow-text {
      font-size: 1.56rem;
    }
  }

  @media only screen and (min-width: 840px) {
    .flow-text {
      font-size: 1.584rem;
    }
  }

  @media only screen and (min-width: 870px) {
    .flow-text {
      font-size: 1.608rem;
    }
  }

  @media only screen and (min-width: 900px) {
    .flow-text {
      font-size: 1.632rem;
    }
  }

  @media only screen and (min-width: 930px) {
    .flow-text {
      font-size: 3rem;
    }
  }

  @media only screen and (min-width: 960px) {
    .flow-text {
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: 360px) {
    .flow-text {
      font-size: 2rem;
    }
  }





  /*!
   * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
   * Copyright 2015 Daniel Cardoso <@DanielCardoso>
   * Licensed under MIT
   */
  .la-ball-fall,
  .la-ball-fall > div {
      position: relative;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
  }
  .la-ball-fall {
      display: block;
      font-size: 0;
      color: #fff;
  }
  .la-ball-fall.la-dark {
      color: #333;
  }
  .la-ball-fall > div {
      display: inline-block;
      float: none;
      background-color: currentColor;
      border: 0 solid currentColor;
  }
  .la-ball-fall {
      width: 54px;
      height: 18px;
  }
  .la-ball-fall > div {
      width: 10px;
      height: 10px;
      margin: 4px;
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: ball-fall 1s ease-in-out infinite;
         -moz-animation: ball-fall 1s ease-in-out infinite;
           -o-animation: ball-fall 1s ease-in-out infinite;
              animation: ball-fall 1s ease-in-out infinite;
  }
  .la-ball-fall > div:nth-child(1) {
      -webkit-animation-delay: -200ms;
         -moz-animation-delay: -200ms;
           -o-animation-delay: -200ms;
              animation-delay: -200ms;
  }
  .la-ball-fall > div:nth-child(2) {
      -webkit-animation-delay: -100ms;
         -moz-animation-delay: -100ms;
           -o-animation-delay: -100ms;
              animation-delay: -100ms;
  }
  .la-ball-fall > div:nth-child(3) {
      -webkit-animation-delay: 0ms;
         -moz-animation-delay: 0ms;
           -o-animation-delay: 0ms;
              animation-delay: 0ms;
  }
  .la-ball-fall.la-sm {
      width: 26px;
      height: 8px;
  }
  .la-ball-fall.la-sm > div {
      width: 4px;
      height: 4px;
      margin: 2px;
  }
  .la-ball-fall.la-2x {
      width: 108px;
      height: 36px;
  }
  .la-ball-fall.la-2x > div {
      width: 20px;
      height: 20px;
      margin: 8px;
  }
  .la-ball-fall.la-3x {
      width: 162px;
      height: 54px;
  }
  .la-ball-fall.la-3x > div {
      width: 30px;
      height: 30px;
      margin: 12px;
  }
  /*
   * Animation
   */
  @-webkit-keyframes ball-fall {
      0% {
          opacity: 0;
          -webkit-transform: translateY(-145%);
                  transform: translateY(-145%);
      }
      10% {
          opacity: .5;
      }
      20% {
          opacity: 1;
          -webkit-transform: translateY(0);
                  transform: translateY(0);
      }
      80% {
          opacity: 1;
          -webkit-transform: translateY(0);
                  transform: translateY(0);
      }
      90% {
          opacity: .5;
      }
      100% {
          opacity: 0;
          -webkit-transform: translateY(145%);
                  transform: translateY(145%);
      }
  }
  @-moz-keyframes ball-fall {
      0% {
          opacity: 0;
          -moz-transform: translateY(-145%);
               transform: translateY(-145%);
      }
      10% {
          opacity: .5;
      }
      20% {
          opacity: 1;
          -moz-transform: translateY(0);
               transform: translateY(0);
      }
      80% {
          opacity: 1;
          -moz-transform: translateY(0);
               transform: translateY(0);
      }
      90% {
          opacity: .5;
      }
      100% {
          opacity: 0;
          -moz-transform: translateY(145%);
               transform: translateY(145%);
      }
  }
  @-o-keyframes ball-fall {
      0% {
          opacity: 0;
          -o-transform: translateY(-145%);
             transform: translateY(-145%);
      }
      10% {
          opacity: .5;
      }
      20% {
          opacity: 1;
          -o-transform: translateY(0);
             transform: translateY(0);
      }
      80% {
          opacity: 1;
          -o-transform: translateY(0);
             transform: translateY(0);
      }
      90% {
          opacity: .5;
      }
      100% {
          opacity: 0;
          -o-transform: translateY(145%);
             transform: translateY(145%);
      }
  }
  @keyframes ball-fall {
      0% {
          opacity: 0;
          -webkit-transform: translateY(-145%);
             -moz-transform: translateY(-145%);
               -o-transform: translateY(-145%);
                  transform: translateY(-145%);
      }
      10% {
          opacity: .5;
      }
      20% {
          opacity: 1;
          -webkit-transform: translateY(0);
             -moz-transform: translateY(0);
               -o-transform: translateY(0);
                  transform: translateY(0);
      }
      80% {
          opacity: 1;
          -webkit-transform: translateY(0);
             -moz-transform: translateY(0);
               -o-transform: translateY(0);
                  transform: translateY(0);
      }
      90% {
          opacity: .5;
      }
      100% {
          opacity: 0;
          -webkit-transform: translateY(145%);
             -moz-transform: translateY(145%);
               -o-transform: translateY(145%);
                  transform: translateY(145%);
      }
  }


/* Spinkit three dots simple loading */
.spinner {
  /* margin:  auto 0; */
  width: 40px;
  text-align: center;
}

.spinner > div {
  width: 7px;
  height: 7px;
  position: relative;
  bottom: 2px;
  right: 2px;
  background-color: #bbffda;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
  animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -1.42s;
  animation-delay: -1.42s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
